
<div class="container">
	<div class = "row">
		<div class = "pic col-md-4">
			<%= image_tag @user.avatar.url(:medium), size: "200x200" %>
			<br>
			Points: <%= @points%> 
				<% if current_user && current_user.id == @user.id %>
					<%= link_to "edit your profile", "#{current_user.id}/edit"%>
					<div class = "bio">
					<strong> Your Bio </strong>
				<%else%>
					<div class = "bio">
					<strong> <%= @user.name + "'s" %> Bio </strong>
				<%end%>
				<br>
				<% if current_user && (!@user.bio || @user.bio == "") %>
					<%if current_user.id == @user.id %>
						You have no bio yet
					<%else%>
						<%= @user.name %> has no bio
					<%end%>
				<%else%>
					<%= @user.bio %>
				<%end%>
				<br>
				
			</div>
		</div>



		<div class = "guides col-md-4">
			<% if current_user && current_user.id == @user.id %>
				<strong> Impact Guides You Have Made </strong>
			<%else%>
				<strong> Impact Guides <%= @user.name%> Has Made </strong>
			<%end%>
			<br>
			<%if @impactGuides.length == 0%>
				<%if current_user.id == @user.id %>
					You have not made to any impact guides yet
				<%else%>
					<%= @user.name %> has not made any impact guides yet
				<%end%>
			<%else%>
			<ul>
				<% @impactGuides.each do |x| %>
					<li><%= link_to  Game.find(x.game_id).title, x %> views: <%= x.views%></li>
				<%end%>
			</ul>
			<%end%>
		</div> 

		<div class = "commentedGuides col-md-4">
			<% if current_user && current_user.id == @user.id %>
				<strong> Impact Guides You Responded To </strong>
			<%else%>
				<strong> Impact Guides <%= @user.name%> Responded To </strong>
			<%end%>
			<br> 
			<% if @seen.length == 0 %>
				<%if current_user && current_user.id == @user.id %>
					You have not responded to any impact guides yet
				<%else%>
					<%= @user.name %> has not responded to any impact guides yet
				<%end%>
			<%else%>
				<ul>
					<% @seen.each do |x| %>
						<%if x%>
							<li><%= link_to Game.find(ImpactGuide.find(x).game_id).title, ImpactGuide.find(x) %></li>
						<%end%>
					<%end%>
				</ul>
			<%end%>
		</div>

		
	</div>
</div>



