
<div class="container">

<% if @impactGuide.errors.any? %>
    <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@impactGuide.errors.count, "error") %>.
    </div>
    <ul>
    <% @impactGuide.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @impactGuide, :html => { :multipart => true } do |f|%>
<div class ="row">
	<div class="col-md-3" >
		<% array = ImpactArea.all.map { |s| ([s.name, s.id]) } %>
		<%= f.select :category_id, options_for_select(array) %>
		<% @id = current_user.id%>
	</div>
	<div class="col-md-9 ">
		
			
			<div >
				<%= f.fields_for :theme do |t|%>
				<%= t.text_field :name, :placeholder => "theme"%>
				<%end%>
			</div>
				
	</div>
	
</div>

<div class="row">
	<div class="col-md-3">
		<%= f.fields_for :game do |g|%>
		<%= g.text_field :title, :placeholder=> "Insert Game Title"%>
		<%end%>
	</div>
	<div class="col-md-9" style= "visibility: hidden;">
		<%= f.fields_for :gameDropDown do |g|%>
		<%games = Game.all.map {|g| ([g.title, g.title])} %> <% games.insert(0, ["or choose from existing games", ""])%>
		<%= g.select :title, options_for_select(games) %>
		<%end%>

	</div>
</div>

<div class="row">
	<div class="col-md-3">	
		<%= f.text_field :age, :placeholder => "Age"%>
	</div>
	
	<div class="col-md-3 ">
		<%= f.text_field :time, :placeholder => "Time"%>	
	</div>
	
	<div class="col-md-6" style="visibility: hidden;">
		asdfdsf
	</div>
</div>
<div class="row">
	<div class = "col-md-9">
		<%=f.fields_for :game do |g|%>
		<%g.text_area :quote, :placeholder => "Quote", class:  'form-control'%>
		<%end%>
		<%=f.fields_for :game do |g|%>
		<%g.text_field :source, :placeholder => "--Source, Position, Company", class:  'form-control'%>
		<%end%>
	</div>
	<div class = "col-md-3">
  		<strong> Select a cover image </strong><br>
  		<%= f.file_field :cover %>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		
		<div>
			<%= f.fields_for :ig_about_description do |i|%>
			<%= i.text_area :text, :placeholder => "Game Description",class:  'form-control'%>
			<%end%>
		</div>
	</div>
</div>
<div class="row" >
  <div class="col-md-12">
  <%= f.fields_for :ig_theme_description do |i|%>
       <%= i.text_area :text, :placeholder => "theme Description",class:  'form-control'%> 
   <%end%>
 </div>
 </div>
<div class="row" style = "border-right: 3px solid; border-left: 3px solid;">
	<div class="col-md-3">
		
			Why use this guide 
		</div>
		<div class="col-md-9" style = "border-left: 3px solid;">
			
			<%= f.text_area :why_use_this_guide, :placeholder => "In this guide we invite you to think...",class:  'form-control'%>
			
		</div>
</div>
<div class="row"style = "border: 3px solid;">
	<div class="col-md-3" >
		
			Game Basics 
		</div>
		<div class="col-md-9"style = "border-left: 3px solid;">
			<ul>
			    <%= f.fields_for :game_basics_prompts do |i|%>
				  <li>						
					<%= i.text_field :prompt1, :placeholder => "Game Basics Prompt"%>
				
					<%= i.select :points1, options_for_select(@points), class: "box"%>

				  </li>
				  <li>
					<%= i.text_field :prompt2, :placeholder => "Game Basics Prompt"%>
					<%= i.select :points2, options_for_select(@points)%>
				  </li>
				  <li>
					<%= i.text_field :prompt3, :placeholder => "Game Basics Prompt"%>
					<%= i.select :points3, options_for_select(@points)%>
				  </li>
				  <li class = "hide" id="basic"> 
					<%= i.text_field :prompt4, :placeholder => "Game Basics Prompt"%>
					<%= i.select :points4, options_for_select(@points)%>
				  </li>
				  <li class = "hide" id = "basic2">
					<%= i.text_field :prompt5, :placeholder => "Game Basics Prompt"%>
					<%= i.select :points5, options_for_select(@points)%>
				  </li>
				<%end%>
			</ul>
			<%= link_to_function "Add Prompt", "addRowBasic()" %> <%= link_to_function "Remove Prompt", "removeRowBasic()", class: "hide", id: "removeBasic"%>
		</div>
</div>
<div class="row" style = "border: 3px solid;">
	<div class="col-md-3" >
		
			Theme Insights 
		</div>
		<div class="col-md-9"style = "border-left: 3px solid;">
			<ul>
			    <%= f.fields_for :theme_insight_prompts do |i|%>
				  <li>
					<%= i.text_field :prompt1, :placeholder => "Theme Insight Prompt"%>
					<%= i.select :points1, options_for_select(@points)%>
				  </li>
				  <li>
					<%= i.text_field :prompt2, :placeholder => "Theme Insight Prompt"%>
					<%= i.select :points2, options_for_select(@points)%>
				  </li>
				  <li>
					<%= i.text_field :prompt3, :placeholder => "Theme Insight Prompt"%>
					<%= i.select :points3, options_for_select(@points)%>
				  </li>
				  <li class = "hide" id = "theme">
					<%= i.text_field :prompt4, :placeholder => "Theme Insight Prompt"%>
					<%= i.select :points4, options_for_select(@points)%>
				  </li>
				  <li class = "hide" id = "theme2">
					<%= i.text_field :prompt5, :placeholder => "Theme Insight Prompt"%>
					<%= i.select :points5, options_for_select(@points)%>
				  </li>
				<%end%>
			</ul>
<%= link_to_function "Add Prompt", "addRowTheme()" %> <%= link_to_function "Remove Prompt", "removeRowTheme()", class: "hide", id: "removeTheme"%>
		</div>
</div>
<div class="row" style = "border: 3px solid;">
	<div class="col-md-3"  >
		
			World Connections 
		</div>
		<div class="col-md-9" style = "border-left: 3px solid;">
			<ul>
			    <%= f.fields_for :world_connections_prompts do |i|%>
				  <li>
					<%= i.text_field :prompt1, :placeholder => "World Connections Prompt"%>
					<%= i.select :points1, options_for_select(@points)%>
				  </li>
				  <li >
					<%= i.text_field :prompt2, :placeholder => "World Connections Prompt"%>
					<%= i.select :points2, options_for_select(@points)%>
				  </li>
				  <li>
					<%= i.text_field :prompt3, :placeholder => "World Connections Prompt"%>
					<%= i.select :points3, options_for_select(@points)%>
				  </li>
				  <li class="hide" id = "world">
					<%= i.text_field :prompt4, :placeholder => "World Connections Prompt"%>
					<%= i.select :points4, options_for_select(@points)%>
				  </li>
				  <li class = "hide" id = "world2">
					<%= i.text_field :prompt5, :placeholder => "World Connections Prompt"%>
					<%= i.select :points5, options_for_select(@points)%>
				  </li>
				<%end%>
			</ul>
			<%= link_to_function "Add Prompt", "addRowWorld()" %> <%= link_to_function "Remove Prompt", "removeRowWorld()", class: "hide", id: "removeWorld"%>
		</div>
</div>
<%=f.submit "create impact guide", class: "btn btn-primary"%>
<%end%>
</div>


