
<div class = "container" id= "pdf">
	<div class="row">
		<div class = "fist line">
			<%=@category %> | <%= @themeName %>
		</div>
	</div>

	<div class="row">
		<div class = "gameName">
			<%= @gameTitle %>: IMPACT GUIDE
		</div>
	</div>
	<div class="row">
		<div class = "ageTime">
			<%= @age %> | <%= @time %>
		</div>
	</div>

	<div class="row">
		<div class = " col-md-9">
			<div class = "quote">
				<%= @quote %> <br> -<%= @source %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class = "aboutGame">
		<strong>	ABOUT <%= @gameTitle %> </strong><br><%= @about %>
		</div>
	</div>

	<div class="row">
		<div class = "aboutTheme">
			<strong> THEME FOR THIS GUIDE: <%= @themeName %></strong><br><%= @themeAbout%>
		</div>
	</div>
	<br>
	<div class= "row promptSection">
		<div class= "col-md-2 category">
			Why use this guide
		</div>
		
		<div class = "pormpts col-md-10">
			<%= @whyUse %>
			<br><br>
			</div>

	</div>

	<div class= "row promptSection">
		<div class= "col-md-2 category">
			Game Basics
		</div>
		
		<div class = "pormpts col-md-10">
			<ul>
			<%= form_for(@response) do |g|%>
			<%@basicPrompts.each do |prompt|%>
			
				<li><%= prompt[0] %> [+<%=prompt[1]%>]
					<%if current_user && current_user.id != @impactGuide.creator_id %>
						<%if !Response.find_by(prompt_id: prompt[2], user_id: current_user.id) %>
						<br>
							<%= g.fields_for(@responses[@counter])  do |f|%>
								<%= f.text_area :text, class:  'form-control' %>
								<%= f.hidden_field :user_id,:value => current_user.id%>
								<%= f.hidden_field :prompt_id, value: prompt[2] %>
								<% @counter = @counter +1 %>
							<%end%>
						<%else %>
							<br>
							<strong> Your answer: <%= Response.find_by(prompt_id: prompt[2], user_id: current_user.id).text%></strong>
							<%=link_to_function "Edit", "showRemoveEdit(#{prompt[2]})"%>
							<%= g.fields_for(@responses[@counter]) do |f|%>
								<div id = "<%= prompt[2]%>" class= "hide">
									<%= f.text_area :text, class:  'form-control'%>
									<%= f.hidden_field :user_id,:value => current_user.id%>
									<%= f.hidden_field :prompt_id, value: prompt[2] %>
									<%= f.hidden_field :id, value: Response.find_by(prompt_id: prompt[2], user_id: current_user.id).id %>
									<% @counter = @counter +1 %>
								</div>
								<%end%>
						<%end%>
					<%end%>
				 </li>
			<%end%>
			</ul>

			</div>

	</div>
	<div class= "row promptSection">
		<div class= "col-md-2 category">
			Theme Insights
		</div>
		
		<div class = "pormpts col-md-10">
			<ul>
			<% @themePrompts.each do |prompt| %>
				
				<li><%= prompt[0] %> [+<%=prompt[1]%>]
					<%if current_user && current_user.id != @impactGuide.creator_id %>
						<%if !Response.find_by(prompt_id: prompt[2], user_id: current_user.id) %>
						<br>
							<%= g.fields_for(@responses[@counter])  do |f|%>
								<%= f.text_area :text, class:  'form-control' %>
								<%= f.hidden_field :user_id,:value => current_user.id%>
								<%= f.hidden_field :prompt_id, value: prompt[2] %>
								<% @counter = @counter +1 %>
							<%end%>
							<%else %>
							<br>
							<strong> Your answer: <%= Response.find_by(prompt_id: prompt[2], user_id: current_user.id).text%></strong>
							<%=link_to_function "Edit", "showRemoveEdit(#{prompt[2]})"%>
							<%= g.fields_for(@responses[@counter]) do |f|%>
								<div id = "<%= prompt[2]%>" class= "hide">
									<%= f.text_area :text, class:  'form-control'%>
									<%= f.hidden_field :user_id,:value => current_user.id%>
									<%= f.hidden_field :prompt_id, value: prompt[2] %>
									<%= f.hidden_field :id, value: Response.find_by(prompt_id: prompt[2], user_id: current_user.id ).id %>
									<% @counter = @counter +1 %>
								</div>
								<%end%>
						<%end%>
					<%end%>
				 </li>
			<%end%>
			</ul>

			</div>

	</div>
		<div class= "row ">
		<div class= "col-md-2 category">
			World Connections
		</div>
		
		<div class = "pormpts col-md-10">
			<ul>
			<%@worldPrompts.each do |prompt| %>
				
				<li><%= prompt[0] %> [+<%=prompt[1]%>]
					<%if current_user && current_user.id != @impactGuide.creator_id %>
						<%if !Response.find_by(prompt_id: prompt[2], user_id: current_user.id) %>
						<br>
							<%= g.fields_for(@responses[@counter])  do |f|%>
							
								<%= f.text_area :text, class:  'form-control' %>
								<%= f.hidden_field :user_id,:value => current_user.id%>
								<%= f.hidden_field :prompt_id, value: prompt[2] %>
								<% @counter = @counter +1 %>
							
							<%end%>
						<%else %>
							<br>
							<strong> Your answer: <%= Response.find_by(prompt_id: prompt[2], user_id: current_user.id).text%></strong>
							<%=link_to_function "Edit", "showRemoveEdit(#{prompt[2]})"%>
							<%= g.fields_for(@responses[@counter]) do |f|%>
								<div id = "<%= prompt[2]%>" class= "hide">
									<%= f.text_area :text, class:  'form-control'%>
									<%= f.hidden_field :user_id,:value => current_user.id%>
									<%= f.hidden_field :prompt_id, value: prompt[2] %>
									<%= f.hidden_field :id, value: Response.find_by(prompt_id: prompt[2],user_id: current_user.id).id %>
									<% @counter = @counter +1 %>
								</div>
							<%end%>
						<%end%>
					<%end%>
				 </li>
			<%end%>
			</ul>

			</div>
			<%=g.submit "submit response", class: "btn btn-primary"%>

			<%end%>

	</div>







</div>

   