<%if !current_user%>
<%= notSignedIn %>
<%else%>
<div class = "container">
	<div class="row">
		<div class = "fist line">
			<%=ImpactArea.find(@impactGuide.category_id).name %> | <%= Theme.find(@impactGuide.theme_id).name %>
		</div>
	</div>

	<div class="row">
		<div class = "gameName">
			<%= Game.find(@impactGuide.game_id).title %>: IMPACT GUIDE
		</div>
	</div>
	<div class="row">
		<div class = "ageTime">
			<%= @impactGuide.age %> | <%= @impactGuide.time %>
		</div>
	</div>

	<div class="row">
		<div class = " col-md-9">
			<div class = "quote">
				<%= Game.find(@impactGuide.game_id).quote %> <br> -<%= Game.find(@impactGuide.game_id).source %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class = "aboutGame">
		<strong>	ABOUT <%= Game.find(@impactGuide.game_id).title %> </strong><br><%= IgAboutDescription.find_by(game_id: Game.find(@impactGuide.game_id)).text%>
		</div>
	</div>

	<div class="row">
		<div class = "aboutTheme">
			<strong> THEME FOR THIS GUIDE: <%= Theme.find(@impactGuide.theme_id).name %></strong><br><%= IgThemeDescription.find_by(themeId: Theme.find(@impactGuide.theme_id).id).text%>
		</div>
	</div>
	<div class= "row promptSection">
		<div class= "col-md-3">
			Why use this guide
		</div>
		
		<div class = "pormpts col-md-9">
			<%= @impactGuide.why_use_this_guide %>
			</div>

	</div>

	<div class= "row promptSection">
		<div class= "col-md-3">
			Game Basics
		</div>
		
		<div class = "pormpts col-md-9">
			<ul>
			<%for i in 1..5%>
				<% if ImpactGuidePrompt.find_by(position: i, impact_guide_id: @impactGuide.id, category_id: 1) %>
				<li><%= ImpactGuidePrompt.find_by(position: i, impact_guide_id: @impactGuide.id, category_id: 1).prompt %></li><%end%>
			<%end%>
			</ul>

			</div>

	</div>
	<div class= "row promptSection">
		<div class= "col-md-3">
			Theme Insights
		</div>
		
		<div class = "pormpts col-md-9">
			<ul>
			<%for i in 1..5%>
				<% if ImpactGuidePrompt.find_by(position: i, impact_guide_id: @impactGuide.id, category_id: 2) %>
				<li><%= ImpactGuidePrompt.find_by(position: i, impact_guide_id: @impactGuide.id, category_id: 2).prompt %></li><%end%>
			<%end%>
			</ul>

			</div>

	</div>
		<div class= "row ">
		<div class= "col-md-3">
			World Connections
		</div>
		
		<div class = "pormpts col-md-9">
			<ul>
			<%for i in 1..5%>
				<% if ImpactGuidePrompt.find_by(position: i, impact_guide_id: @impactGuide.id, category_id: 3) %>
				<li><%= ImpactGuidePrompt.find_by(position: i, impact_guide_id: @impactGuide.id, category_id: 3).prompt %></li><%end%>
			<%end%>
			</ul>

			</div>

	</div>
			
			


















</div>
<%end%>
   