
<div class = "container" id= "pdf">
	<div class="row">
		<div class = "fist line">
			<%=@category %> | <%= @themeName %>
		</div>
	</div>

	<div class="row">
		<div class = "gameName">
			<%= @gameTitle %>: IMPACT GUIDE
		</div>
	</div>
	<div class="row">
		<div class = "ageTime">
			<%= @age %> | <%= @time %>
		</div>
	</div>

	<div class="row">
		<div class = " col-md-9">
			<div class = "quote">
				<%= @quote %> <br> -<%= @source %>
			</div>
		</div>
		<div class="col-md-3">
			<%=image_tag @impactGuide.cover.url(:thumb) %>
		</div>
	</div>

	<div class="row">
		<div class = "aboutGame">
			<strong>	ABOUT <%= @gameTitle %> </strong><br><%= @about %>
		</div>
	</div>

	<div class="row">
		<div class = "aboutTheme">
			<strong> THEME FOR THIS GUIDE: <%= @themeName %></strong><br><%= @themeAbout%>
		</div>
	</div>
	<br>
	<div class= "row promptSection">
		<div class= "col-md-2 category">
			Why use this guide
		</div>
		
		<div class = "pormpts col-md-10">
			<%= @whyUse %>
			<br><br>
		</div>
	</div>

	<%= form_for(@response) do |g|%>
		<div class= "row promptSection">
			<div class= "col-md-2 category">
				Game Basics
			</div>
			
			<div class = "pormpts col-md-10">
				<ul>
				  <%= render partial: 'basic_prompts', locals: { g: g } %>
				</ul>
			</div>
		</div>
		<div class= "row promptSection">
			<div class= "col-md-2 category">
				Theme Insights
			</div>
			
			<div class = "pormpts col-md-10">
				<ul>
					<%= render partial: 'theme_prompts', locals: { g: g } %>
				</ul>
			</div>
		</div>
		<div class= "row promptSection">
			<div class= "col-md-2 category">
				World Connections
			</div>
			<div class = "pormpts col-md-10">
				<ul>
					<%= render partial: 'theme_prompts', locals: { g: g } %>	
				</ul>
			</div>
		</div>
		<% if current_user && current_user.id != @impactGuide.creator_id %>
			<%=g.submit "submit response", class: "btn btn-primary"%>
		<%end%>
	<%end%>
</div>

   